#myList{
    width: 220px;
    height: 30px;
    margin: 20px auto;
    margin: 20px 50px;
    color:black;
    background-color:skyblue;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }